

CLOSE ALL
WORKSPACE CLOSE
WSREPORT

DO X64
WORKSPACE OPEN DBF

SELECT STUDENTS
AREA
STATUS
WSREPORT

TOP
AREA
STATUS

SKIP 1
AREA
STATUS

SKIP 1
AREA
STATUS

BOTTOM
AREA
STATUS

TOP
AREA
STATUS

SET ORDER TO 0
AREA
STATUS
SMARTLIST

SET ORDER TO TAG LNAME
AREA
STATUS
TOP
AREA
STATUS
SMARTLIST

SKIP 1
AREA
STATUS

SKIP 1
AREA
STATUS

BOTTOM
AREA
STATUS

TOP
AREA
STATUS

SEEK "SMITH"
AREA
STATUS
SMARTLIST

SET FILTER TO LNAME = "SMITH"
AREA
STATUS
COUNT
SMARTLIST

SET FILTER TO
AREA
STATUS
COUNT
SMARTLIST

SET ORDER TO TAG SID
AREA
STATUS
TOP
AREA
STATUS
SMARTLIST

SET ORDER TO 0
AREA
STATUS
TOP
AREA
STATUS
SMARTLIST

CLOSE
USE STUDENTS
AREA
STATUS
TOP
AREA
STATUS
SMARTLIST

WORKSPACE CLOSE
WORKSPACE OPEN DBF CDX
WSREPORT
SELECT 9
AREA
STATUS
TOP
AREA
STATUS
SMARTLIST

SET ORDER TO TAG LNAME
AREA
STATUS
TOP
AREA
STATUS
SMARTLIST

SET FILTER TO LNAME = "SMITH"
AREA
STATUS
COUNT
SMARTLIST

SET FILTER TO
AREA
STATUS
COUNT
SMARTLIST

SET ORDER TO 0
AREA
STATUS
TOP
AREA
STATUS
SMARTLIST

BUILDLMDB
WSREPORT

SETLMDB STUDENTS LNAME
AREA
STATUS
TOP
AREA
STATUS
SMARTLIST

SKIP 1
AREA
STATUS

BOTTOM
AREA
STATUS

TOP
AREA
STATUS

SEEK "SMITH"
AREA
STATUS
SMARTLIST

SET FILTER TO LNAME = "SMITH"
AREA
STATUS
COUNT
SMARTLIST

SET FILTER TO
AREA
STATUS
COUNT
SMARTLIST

EXPORT TO students_beta0_pipe.txt PIPE
EXPORT TO students_beta0_csv.csv CSV

CLOSE
USE STUDENTS
SET ORDER TO TAG LNAME
SET FILTER TO LNAME = "SMITH"
COUNT
SMARTLIST
EXPORT TO students_smith_pipe.txt PIPE
EXPORT TO students_smith_csv.csv CSV

SET FILTER TO
SET ORDER TO 0
TOP
AREA
STATUS
SMARTLIST

WORKSPACE CLOSE
WSREPORT
