USE STUDENTS

TUP LNAME

CALC LNAME = "abc" 
TUP LNAME 

CALC LNAME = UPPER("abc") 
TUP LNAME

CALC LNAME = LEFT("ABCDE", 3) 
TUP LNAME
REPLACE LNAME WITH FancyPants

CALC LNAME = LEFT(UPPER("abcde"), 2) 
TUP LNAME
REPLACE LNAME WITH FancyPants

CALC LNAME = LEFT(DTOC(DATE()), 4) 
TUP LNAME

REPLACE LNAME WITH FancyPants

* Numeric field

CALC GPA = 3.14

CALC GPA = VAL("3.14")

CALC GPA = GPA + 1

CALC GPA = VAL(STR(3.14, 10, 2)) 

TUP GPA

* Date field

CALC DOB = 20000101
TUP DOB

CALC DOB = DATE()
TUP DOB

CALC DOB = CTOD("2000-01-01")
TUP DOB
