CREATE X64 X64SAMPLE ( ;
    REC_ID      C(16), ;
    NAME        C(40), ;
    NOTE_S      C(60), ;
    STATUS      C(12), ;
    COUNT_N     N(10,0), ;
    AMOUNT_N    N(12,2), ;
    RATIO_F     F(18,6), ;
    EVENT_DT    D, ;
    IS_ACTIVE   L, ;
    MEMO_REF    M, ;
    INT32_I     I, ;
    DOUBLE_B    B, ;
    AMOUNT      Y, ;
    AMOUNT_CU   C(3), ;
    PAD1        C(80), ;
    PAD2        C(80) ;
)

USE X64SAMPLE

CDX CREATE
CDX ADDTAG REC_ID
CDX ADDTAG NAME
CDX ADDTAG NOTE_S
CDX ADDTAG STATUS
CDX ADDTAG COUNT_N
CDX ADDTAG AMOUNT_N
CDX ADDTAG RATIO_F
CDX ADDTAG EVENT_DT
CDX ADDTAG IS_ACTIVE
CDX ADDTAG INT32_I
CDX ADDTAG DOUBLE_B
CDX ADDTAG AMOUNT
CDX ADDTAG AMOUNT_CU
CDX ADDTAG PAD1
CDX ADDTAG PAD2

SET INDEX TO X64SAMPLE
SET ORDER TO NAME

APPEND
TOP
LIST 10

