USE HIERTEST
HIER CREATE ROOT CURR001 NAME "Curriculum"
HIER ADD CHILD CURR001 MOD001 NAME "Module 1"
HIER ADD CHILD CURR001 MOD002 NAME "Module 2"
HIER ADD CHILD MOD001 LES001 NAME "Lesson 1"
HIER SUBTREE CURR001
HIER VALIDATE
HIER MOVE MOD001 TO MOD002
HIER SUBTREE CURR001
HIER VALIDATE
HIER REBUILD
HIER SUBTREE CURR001