SET LANGUAGE TO es
NOSUCHCOMMAND
DISPLAY

SET LANGUAGE TO fr
NOSUCHCOMMAND
DISPLAY

SET LANGUAGE TO de
NOSUCHCOMMAND
DISPLAY

SET LANGUAGE TO it
NOSUCHCOMMAND
DISPLAY

SET LANGUAGE TO DEFAULT
NOSUCHCOMMAND
DISPLAY