SCHEMAS CLOSE
SCHEMAS OPEN DBF
SET RELATIONS CLEAR ALL
SET RELATIONS ADD STUDENTS ENROLL ON SID
SET RELATIONS ADD ENROLL CLASSES ON CLS_ID
SET RELATIONS ADD CLASSES TASSIGN ON CLS_ID
SET RELATIONS ADD TASSIGN TEACHERS ON TID
SELECT STUDENTS

REL ADD STUDENTS ENROLL ON SID

GOTO 23

REL REFRESH
TUPLE STUDENTS.SID, ENROLL.SID, CLASSES.CID, TASSIGN.TID, TEACHERS.TID
SKIP 21
REL REFRESH
TUPLE STUDENTS.SID, ENROLL.SID, CLASSES.CID, TASSIGN.TID, TEACHERS.TID
REL LIST
