SET PATH DBF data\dbf\x64\metadata
SET PATH INDEXES data\indexes\x64\metadata
SET PATH LMDB data\lmdb\x64\metadata

CREATE X64 SYSTEM_COMMANDS ( ;
    COMMAND_ID             C(32), ;
    CANONICAL_NAME         C(80), ;
    DISPLAY_NAME           C(80), ;
    ENTRY_KIND             C(32), ;
    IMPLEMENTATION_STATUS  C(32), ;
    VISIBILITY_TIER        C(32), ;
    OWNER_SUBSYSTEM        C(64), ;
    REGISTRATION_RING      C(64), ;
    LIFECYCLE_PHASE        C(48), ;
    SOURCE_AUTHORITY       C(64), ;
    SOURCE_PREFIX_HINT     C(32), ;
    SOURCE_FILE_PATH       C(180), ;
    HANDLER_NAME           C(96), ;
    HAS_DIRECT_HANDLER     L, ;
    DISPATCH_REACHABLE     L, ;
    PUBLIC_SURFACE         L, ;
    SELF_REGISTERED        L, ;
    SUPPORTS_TIMER         L, ;
    USES_OUTPUT_ROUTER     L, ;
    USES_MESSAGE_CATALOG   L, ;
    ACTIVE                 L, ;
    LAST_VERIFIED_AT       C(24), ;
    NOTES                  M ;
)

USE SYSTEM_COMMANDS
CDX CREATE
CDX ADDTAG COMMAND_ID
CDX ADDTAG CANONICAL_NAME
CDX ADDTAG ENTRY_KIND
CDX ADDTAG IMPLEMENTATION_STATUS
CDX ADDTAG VISIBILITY_TIER
CDX ADDTAG OWNER_SUBSYSTEM
CDX ADDTAG REGISTRATION_RING
CDX ADDTAG SOURCE_AUTHORITY
BUILDLMDB CLEAN YES

CREATE X64 SYSTEM_ENTRY_VARIANTS ( ;
    VARIANT_ID             C(32), ;
    TOKEN                  C(80), ;
    VARIANT_KIND           C(32), ;
    CANONICAL_TARGET       C(120), ;
    CANONICAL_HELP_OWNER   C(120), ;
    SOURCE_AUTHORITY       C(64), ;
    SOURCE_FILE_PATH       C(180), ;
    SHADOWS_REGISTRY_KEY   L, ;
    DISPATCH_REACHABLE     L, ;
    PUBLIC_SURFACE         L, ;
    ACTIVE                 L, ;
    LAST_VERIFIED_AT       C(24), ;
    NOTES                  M ;
)

USE SYSTEM_ENTRY_VARIANTS
CDX CREATE
CDX ADDTAG VARIANT_ID
CDX ADDTAG TOKEN
CDX ADDTAG VARIANT_KIND
CDX ADDTAG CANONICAL_TARGET
CDX ADDTAG CANONICAL_HELP_OWNER
CDX ADDTAG SOURCE_AUTHORITY
BUILDLMDB CLEAN YES

CREATE X64 SYSTEM_SUBCOMMANDS ( ;
    SUBCOMMAND_ID          C(32), ;
    PARENT_COMMAND         C(80), ;
    SUBCOMMAND_NAME        C(80), ;
    QUALIFIED_NAME         C(140), ;
    DISPATCH_STYLE         C(32), ;
    IMPLEMENTATION_STATUS  C(32), ;
    VISIBILITY_TIER        C(32), ;
    OWNER_SUBSYSTEM        C(64), ;
    REGISTRATION_RING      C(64), ;
    LIFECYCLE_PHASE        C(48), ;
    SOURCE_AUTHORITY       C(64), ;
    SOURCE_FILE_PATH       C(180), ;
    HANDLER_NAME           C(96), ;
    PUBLIC_SURFACE         L, ;
    DISPATCH_REACHABLE     L, ;
    USES_OUTPUT_ROUTER     L, ;
    USES_MESSAGE_CATALOG   L, ;
    ACTIVE                 L, ;
    LAST_VERIFIED_AT       C(24), ;
    NOTES                  M ;
)

USE SYSTEM_SUBCOMMANDS
CDX CREATE
CDX ADDTAG SUBCOMMAND_ID
CDX ADDTAG PARENT_COMMAND
CDX ADDTAG SUBCOMMAND_NAME
CDX ADDTAG QUALIFIED_NAME
CDX ADDTAG DISPATCH_STYLE
CDX ADDTAG OWNER_SUBSYSTEM
CDX ADDTAG VISIBILITY_TIER
BUILDLMDB CLEAN YES

CREATE X64 SYSTEM_FUNCTIONS ( ;
    FUNCTION_ID            C(32), ;
    CANONICAL_NAME         C(80), ;
    DISPLAY_NAME           C(80), ;
    FUNCTION_CATEGORY      C(40), ;
    MIN_ARGS               N(4,0), ;
    MAX_ARGS               N(4,0), ;
    IMPLEMENTATION_STATUS  C(32), ;
    VISIBILITY_TIER        C(32), ;
    OWNER_SUBSYSTEM        C(64), ;
    SOURCE_AUTHORITY       C(64), ;
    SOURCE_FILE_PATH       C(180), ;
    HANDLER_NAME           C(96), ;
    CALLABLE_FROM_CALC     L, ;
    PUBLIC_SURFACE         L, ;
    SELF_REGISTERED        L, ;
    USES_MESSAGE_CATALOG   L, ;
    ACTIVE                 L, ;
    LAST_VERIFIED_AT       C(24), ;
    NOTES                  M ;
)

USE SYSTEM_FUNCTIONS
CDX CREATE
CDX ADDTAG FUNCTION_ID
CDX ADDTAG CANONICAL_NAME
CDX ADDTAG FUNCTION_CATEGORY
CDX ADDTAG IMPLEMENTATION_STATUS
CDX ADDTAG OWNER_SUBSYSTEM
CDX ADDTAG SOURCE_AUTHORITY
BUILDLMDB CLEAN YES

CREATE X64 SYSTEM_MESSAGES ( ;
    MESSAGE_ID             C(32), ;
    SYMBOL                 C(120), ;
    ENUM_NAME              C(80), ;
    SEVERITY               C(24), ;
    FACILITY               C(48), ;
    SHORT_TEXT             C(180), ;
    IMPLEMENTATION_STATUS  C(32), ;
    VISIBILITY_TIER        C(32), ;
    OWNER_SUBSYSTEM        C(64), ;
    SOURCE_AUTHORITY       C(64), ;
    SOURCE_FILE_PATH       C(180), ;
    PUBLIC_SURFACE         L, ;
    USED_BY_RUNTIME        L, ;
    ACTIVE                 L, ;
    LAST_VERIFIED_AT       C(24), ;
    SUGGESTED_ACTION       M, ;
    NOTES                  M ;
)

USE SYSTEM_MESSAGES
CDX CREATE
CDX ADDTAG MESSAGE_ID
CDX ADDTAG SYMBOL
CDX ADDTAG ENUM_NAME
CDX ADDTAG SEVERITY
CDX ADDTAG FACILITY
CDX ADDTAG OWNER_SUBSYSTEM
BUILDLMDB CLEAN YES

CREATE X64 SYSTEM_HELP_TEXT ( ;
    HELP_TEXT_ID           C(32), ;
    OWNER_KIND             C(32), ;
    OWNER_NAME             C(140), ;
    TEXT_KIND              C(32), ;
    SEQ                    N(8,0), ;
    SOURCE_AUTHORITY       C(64), ;
    SOURCE_FILE_PATH       C(180), ;
    GENERATED              L, ;
    CURATED                L, ;
    ACTIVE                 L, ;
    LAST_VERIFIED_AT       C(24), ;
    TEXT_BODY              M, ;
    NOTES                  M ;
)

USE SYSTEM_HELP_TEXT
CDX CREATE
CDX ADDTAG HELP_TEXT_ID
CDX ADDTAG OWNER_KIND
CDX ADDTAG OWNER_NAME
CDX ADDTAG TEXT_KIND
CDX ADDTAG SEQ
CDX ADDTAG SOURCE_AUTHORITY
BUILDLMDB CLEAN YES

CREATE X64 SYSTEM_ARGUMENTS ( ;
    ARGUMENT_ID            C(32), ;
    OWNER_KIND             C(32), ;
    OWNER_NAME             C(140), ;
    ARGUMENT_NAME          C(80), ;
    ARGUMENT_KIND          C(32), ;
    VALUE_SHAPE            C(48), ;
    REQUIRED               L, ;
    REPEATABLE             L, ;
    SOURCE_AUTHORITY       C(64), ;
    SOURCE_FILE_PATH       C(180), ;
    ACTIVE                 L, ;
    LAST_VERIFIED_AT       C(24), ;
    NOTES                  M ;
)

USE SYSTEM_ARGUMENTS
CDX CREATE
CDX ADDTAG ARGUMENT_ID
CDX ADDTAG OWNER_KIND
CDX ADDTAG OWNER_NAME
CDX ADDTAG ARGUMENT_NAME
CDX ADDTAG ARGUMENT_KIND
CDX ADDTAG VALUE_SHAPE
BUILDLMDB CLEAN YES
