SCHEMAS CLOSE
SCHEMAS OPEN DBF
SET RELATIONS CLEAR ALL
SET RELATIONS ADD STUDENTS ENROLL ON SID
SET RELATIONS ADD ENROLL CLASSES ON CLS_ID
SET RELATIONS ADD CLASSES TASSIGN ON CLS_ID
SET RELATIONS ADD TASSIGN TEACHERS ON TID
SELECT STUDENTS


GOTO 23

REL REFRESH
TUPLE STUDENTS.SID, ENROLL.SID, CLASSES.CID, TASSIGN.TID, TEACHERS.TID
SKIP 21
REL REFRESH
TUPLE STUDENTS.SID, ENROLL.SID, CLASSES.CID, TASSIGN.TID, TEACHERS.TID
REL LIST

TOP
SCAN FOR LNAME = CLARK
REL REFRESH
TUPLE STUDENTS.SID, STUDENTS.LNAME, STUDENTS.FNAME, ENROLL.CLS_ID, ENROLL.SID, CLASSES.TERM, CLASSES.CID, CLASSES.SEC, TASSIGN.TID, TEACHERS.LNAME, TEACHERS.FNAME, TEACHERS.TID
ENDSCAN

GOTO 1
LOOP 10 TIMES
REL REFRESH
TUPLE STUDENTS.SID, STUDENTS.LNAME, STUDENTS.FNAME, ENROLL.CLS_ID, ENROLL.SID, CLASSES.TERM, CLASSES.CID, CLASSES.SEC, TASSIGN.TID, TEACHERS.LNAME, TEACHERS.FNAME, TEACHERS.TID

SKIP 1
ENDLOOP
