SCHEMAS CLOSE
SCHEMAS OPEN DBF

SET RELATIONS CLEAR ALL
SET RELATIONS ADD STUDENTS ENROLL   ON SID
SET RELATIONS ADD ENROLL   CLASSES  ON CLS_ID
SET RELATIONS ADD CLASSES  TASSIGN  ON CLS_ID
SET RELATIONS ADD TASSIGN  TEACHERS ON TID

SELECT STUDENTS

TUPLE STUDENTS.SID, STUDENTS.LNAME, STUDENTS.FNAME, ENROLL.CLS_ID, ENROLL.SID, CLASSES.TERM, CLASSES.CID, CLASSES.SEC, TASSIGN.TID, TEACHERS.LNAME, TEACHERS.FNAME, TEACHERS.TID

SKIP

TUPLE STUDENTS.SID, STUDENTS.LNAME, STUDENTS.FNAME, ENROLL.CLS_ID, ENROLL.SID, CLASSES.TERM, CLASSES.CID, CLASSES.SEC, TASSIGN.TID, TEACHERS.LNAME, TEACHERS.FNAME, TEACHERS.TID
