USE students NOINDEX
SELECT STUDENTS 
TUPTALK RESET
TUPTALK PUSH ALL
TUPTALK PUSH FILTER CND
TUPTALK PUSH LASTNAME
TUPTALK PUSH 3
TUPTALK PUSH ROW
TUPTALK LIST
TUPTALK NORMALIZE
TUPTALK DUMP
TUPTALK EXPORT CSV students_norm.csv
TUPTALK EXPORT TSV students_norm.tsv
