VERSION
SETPATH
DIR
HELP
FOXHELP
CMDHELP
COMMANDSHELP
PREDHELP
PREDICATES
ECHO FOXPALETTE   <---- TVISION APP
COLOR DEFAULT
SCHEMAS OPEN DBF
SELECT STUDENTS
SHOW
STATUS
STRUCT
FIELDS
WSREPORT
SCHEMA OPEN
COLOR DEFAULT
SHOW
STATUS
STRUCT
FIELDS
SELECT 11
AREA
RECNO
TOP
BOTTOM
RECORD
RECORDVIEW
DISPLAY
LIST
ECHO READY
REINDEX
SET UNIQUE FIELD SID ON
SET UNIQUE FIELD SID OFF
GOTO 1
SET RELATION TO SID INTO ENROLL
REL_REFRESH
CMDREL
TUPLE *
TUPLE LNAME,FNAME
TUPLE #6.*
SETFILTER TO GPA > 3
LIST FOR GPA > 3
SMARTLIST ALL FOR GPA >= 2.5
WHERE GPA < 2
COLOR BLUE
SQL SELECT * FROM STUDENTS WHERE GPA >= 3
SQLSEL SELECT SID,LNAME,FNAME FROM STUDENTS
SCHEMA
NORMALIZE D 8 20250101
VALIDATE UNIQUE FIELD SID IGNORE DELETED
GOTO 1
LOOP
ECHO LOOP_BASE
ENDLOOP
GOTO 1
LOOP 4
ECHO LOOP_COUNT
ENDLOOP
GOTO 1
LOOP FOR GPA >= 3
RECNO
ENDLOOP
GOTO 1
LOOP FOR LNAME = "WHITE"
DISPLAY
ENDLOOP
GOTO 1
SCAN FOR RECNO < 5
ECHO SCAN_WHILE_EQUIV
SKIP 1
ENDSCAN
GOTO 1
SCAN FOR RECNO <= 5
ECHO SCAN_UNTIL_EQUIV
SKIP 1
ENDSCAN
LOOP_BUFFER
SCAN_BUFFER
CMDARGCHK
CMDHELPCHK
CMDREL
COLOR AMBER
ECHO BROWSE   <---- TVISION APP
ECHO BROWSETUI   <---- TVISION APP
ECHO BROWSETV   <---- TVISION APP
ECHO TVISION   <---- TVISION APP
SETINDEX D:\code\ccode\data\STUDENTS.inx
SEEK "WHITE"
FIND "WHITE" IN LNAME
RECNO
DISPLAY
COPY dbf/students to dbf/students_copy
USE STUDENTS_COPY
APPEND_BLANK
APPEND
INSERT
TUPLE
   REPLACE GPA WITH 4.00
TUPLE
UPDATE
DELETE
RECALL
echo PACK
echo ZAP
ERASE dbf/STUDENTS_COPY.DBF
CLOSE
ECHO !
ECHO BANG
BOOLEAN .T.
GO TOP
GOTO 1
ECHO DONE
EVAL 2+2
EVAL 3*3
FORMULA LNAME + ", " + FNAME
ECHO FOXPRO   <---- TVISION APP
ECHO FOXTALK   <---- TVISION APP
ECHO GENERIC   <---- TVISION APP
MULTIREPDB
REFRESH
RECORD
RUN ECHO OK
SETCASE UPPER
LOWER
UPPER
SET
TEST
ECHO TTEST   <---- TVISION APP
TUPTALK
SELECT STUDENTS
WHERE GPA = GPA DEBUG
CALC 1 + 1
CALC GPA + 1
CALC = CALC GPA + 1

