SCHEMAS CLOSE

VERSION
DIR
HELP
FOXHELP
CMDHELP
COMMANDSHELP
PREDHELP
PREDICATES
ECHO FOXPALETTE
COLOR DEFAULT
SHOW
STATUS
STRUCT
FIELDS
WSREPORT

SCHEMA OPEN
COLOR DEFAULT
SHOW
STATUS
STRUCT
FIELDS

SELECT 11
AREA
RECNO
TOP
BOTTOM
RECORDVIEW
DISPLAY
LIST
ECHO READY

SELECT 11
REINDEX
SETINDEX STUDENTS.inx
SETORDER lname   && if supported; otherwise skip
ASCEND
DESCEND
SET UNIQUE FIELD SID ON

SELECT 6
SELECT 11
SET RELATION TO SID INTO ENROLL
REL_REFRESH

SELECT 11
TUPLE *
TUPLE LNAME,FNAME
TUPLE #6.*

SELECT 11
SET FILTER TO GPA > 3
LIST
SET FILTER TO
LIST FOR GPA > 3
SMARTLIST ALL FOR GPA >= 2.5
WHERE GPA < 2

-- SQL still under repair; keep here to exercise
SQL SELECT * FROM STUDENTS WHERE GPA >= 3
SQLSEL SELECT SID,LNAME,FNAME FROM STUDENTS

SCHEMA
NORMALIZE
VALIDATE

SELECT 11
LOOP
ECHO LOOPING
ENDLOOP
SCAN FOR GPA >= 3
ENDSCAN

TOP
WHILE RECNO < 5
  SKIP 1
ENDWHILE

TOP
UNTIL RECNO > 5
  SKIP 1
ENDUNTIL

LOOP_BUFFER
SCAN_BUFFER
CMDARGCHK
CMDHELPCHK
CMDREL

ECHO BROWSE
ECHO BROWSETUI
ECHO BROWSETV
ECHO TVISION

COPY STUDENTS TO STUDENTS_COPY
USE STUDENTS_COPY
APPEND
REPLACE GPA WITH 4.00
DELETE
RECALL
PACK
CLOSE

ECHO !
ECHO BANG
BOOLEAN .T.
GO TOP
GOTO 1
ECHO DONE
CALC 2+2
CALC 3*3
FORMULA LNAME + ", " + FNAME
ECHO FOXPRO
ECHO FOXTALK
ECHO GENERIC
REFRESH
RECORD
RUN ECHO OK
SETCASE ON
LOWER LNAME
UPPER LNAME
SET
TEST
ECHO TTEST
TUPTALK
USE
WHERE GPA = GPA
