SCHEMAS CLOSE
ERASE CLIENTS CONFIRM

SET TALK ON
ECHO Creating CLIENTS with STUDENTS structure...

CREATE CLIENTS (SID N(8,0), LNAME C(20), FNAME C(15), DOB D, GENDER C(1), MAJOR C(4), ENROLL_D D, GPA N(4,2), EMAIL C(40))

FIELDS
ECHO Done.
