SCHEMAS CLOSE
ERASE CLIENTS_xbase CONFIRM
ERASE CLIENTS_vfp CONFIRM
ERASE CLIENTS_x64 CONFIRM

SET TALK ON
ECHO Creating CLIENTS with STUDENTS structure...

SELECT 0
CREATE CLIENTS_xbase (SID N(8,0), LNAME C(20), FNAME C(15), DOB D, GENDER C(1), MAJOR C(4), ENROLL_D D, GPA N(4,2), EMAIL C(40))

FIELDS
APPEND

SELECT 1
CREATE vfp CLIENTS_vfp (SID N(8,0), LNAME C(20), FNAME C(15), DOB D, GENDER C(1), MAJOR C(4), ENROLL_D D, GPA N(4,2), EMAIL C(40))

FIELDS
APPEND

SELECT 2
CREATE x64 CLIENTS_x64 (SID N(8,0), LNAME C(20), FNAME C(15), DOB D, GENDER C(1), MAJOR C(4), ENROLL_D D, GPA N(4,2), EMAIL C(40))

FIELDS
APPEND


ECHO Done.
