echo enum shakedown

SCHEMAS CLOSE
SCHEMAS OPEN DBF

SELECT STUDENTS
SET RELATIONS CLEAR ALL
SET RELATIONS ADD STUDENTS ENROLL ON SID
SET RELATIONS ADD ENROLL CLASSES ON CLS_ID
SET RELATIONS ADD CLASSES TASSIGN ON CLS_ID
SET RELATIONS ADD TASSIGN TEACHERS ON TID
REL REFRESH

RECNO
LOCATE FOR SID = 50000010
RECNO
REL LIST
RECNO
COUNT FOR SID = 50000010
RECNO

REL JOIN LIMIT 0 TUPLE STUDENTS.SID, ENROLL.CLS_ID, CLASSES.CID, TEACHERS.LNAME
RECNO

REL ENUM LIMIT 0 TUPLE STUDENTS.SID, ENROLL.CLS_ID, CLASSES.CID, TEACHERS.LNAME

REL ENUM ENROLL CLASSES TASSIGN TEACHERS LIMIT 10 TUPLE STUDENTS.SID, STUDENTS.LNAME, ENROLL.CLS_ID, CLASSES.TERM, CLASSES.CID, CLASSES.SEC, TASSIGN.TID, TEACHERS.LNAME, TEACHERS.TID

LOCATE FOR SID = 50000011
RECNO
REL LIST
REL ENUM LIMIT 0 TUPLE STUDENTS.SID, STUDENTS.LNAME, ENROLL.CLS_ID, CLASSES.CID, TEACHERS.LNAME
RECNO

TOP
RECNO
REL LIST
REL ENUM LIMIT 0 TUPLE STUDENTS.SID, STUDENTS.LNAME, ENROLL.CLS_ID, CLASSES.CID, TEACHERS.LNAME
RECNO

TUP
RECNO
SELECT ENROLL
TUP
RECNO
SELECT CLASSES
TUP
RECNO
SELECT TASSIGN
TUP
RECNO
SELECT TEACHERS
TUP
RECNO

SELECT STUDENTS
REL LIST
