LMDB OPEN shakedown
LMDB INFO
LMDB SEEK alpha
LMDB SCAN a a
LMDB SCAN z z
LMDB SCAN alpha alpha
LMDB PUT delta 18446744073709551615
LMDB SEEK delta
LMDB DEL delta 18446744073709551615
LMDB SEEK delta
LMDB PUT echo 0
LMDB SEEK echo
LMDB DEL echo 0
LMDB SEEK echo
LMDB PUT k000 1
LMDB PUT k001 2
LMDB PUT k002 3
LMDB PUT k003 4
LMDB PUT k004 5
LMDB SCAN k000 k004
LMDB DEL k002 3
LMDB SCAN k000 k004
LMDB PUT zebra 9
LMDB PUT zed 8
LMDB PUT zero 7
LMDB SCAN zed zebra
LMDB SCAN z zzzzz
LMDB CLEAR
LMDB SEEK bravo
LMDB SCAN a z
LMDB CLOSE
LMDB INFO
LMDB OPEN shakedown
LMDB INFO
LMDB SCAN a z
LMDB CLOSE