CLOSE
USE students NOINDEX
STATUS
LIST 1
SETINDEX students.inx
STATUS
ASCEND
LIST 3
DESCEND
LIST 3
TOP
LIST 1
SEEK 'WHITE'
LIST 1
TOP
SEEK 'CLARK'
LIST 1
CLOSE
USE students
SETCNX students.cnx
STATUS
SETORDER students.cnx LNAME --asc
STATUS
LIST 3
SETORDER students.cnx LNAME --desc
STATUS
LIST 3
SETORDER students.cnx GPA --asc
STATUS
LIST 3
SETORDER students.cnx GPA --desc
STATUS
LIST 3
SETORDER students.cnx TAG NOTATAG
STATUS
LIST 1
CLOSE
USE students NOINDEX
STATUS
LIST 1
ASCEND
LIST 1
DESCEND
LIST 1
TOP
BOTTOM
LIST 1
QUIT
