USE STUDENTS
DISPLAY
COUNT
COUNT DELETED
LIST 5
GOTO 1
TUPLE
GOTO 10
TUPLE
SKIP 25
TUPLE
TOP
TUPLE
BOTTOM
TUPLE
LIST ALL

USE STUDENTS
GOTO 5
DELETE
GOTO 6
DELETE
GOTO 7
DELETE
COUNT
COUNT DELETED
PACK
COUNT
COUNT DELETED
LIST 10

USE STUDENTS
TOP
SCAN FOR TYPE = "M"    && if you have memos, else change condition
TUPLE
ENDSCAN


SET ORDER TO 1
REINDEX
LIST 10
SEEK "WHITE"
TUPLE
