CLOSE
USE students
SETINDEX students.inx
ASCEND
SEEK LNAME 'CLARK'
LIST 1
SEEK LNAME 'WHITE'
LIST 1
DESCEND
SEEK LNAME ''
LIST 1
SEEK LNAME 'temp'
LIST 1
CLOSE
USE students
SETCNX students.cnx
SETORDER students.cnx LNAME --asc
SEEK LNAME 'AARDVARK'
LIST 1
SETORDER students.cnx LNAME --desc
SEEK LNAME 'HARRIS'
LIST 1
SETORDER students.cnx GPA --asc
SEEK GPA 4.00
LIST 3
SETORDER students.cnx GPA --desc
SEEK GPA 1.00
LIST 1
QUIT
