CLOSE
USE students
SETCNX students.cnx
SETORDER students.cnx LNAME --asc
SMARTLIST 5 FOR LNAME = 'CLARK'
SMARTLIST 5 FOR LNAME >= 'M'
SMARTLIST 5 FOR GPA >= 3.50
SETORDER students.cnx LNAME --desc
SMARTLIST 5 FOR LNAME <= 'C'
SETORDER students.cnx GPA --asc
SMARTLIST 5 FOR GPA = 4.00
SETORDER students.cnx GPA --desc
SMARTLIST 5 DEBUG FOR GPA >= 3.00 AND LNAME >= 'T'
CLOSE
USE students NOINDEX
SMARTLIST 3
SMARTLIST 3 FOR !DELETED
QUIT
