* cascade_erp_build_indexes.dts -- build the physical CDX tags the
* sidecars declare as metadata_only. GENERATED -- do not hand-edit.
* Run AFTER cascade_erp.dts has set the environment, or standalone:
SET TALK ON
SET PATH DBF SYSTEMS/CASCADE_ERP/DBF
SET PATH INDEXES SYSTEMS/CASCADE_ERP/INDEXES
SET PATH LMDB SYSTEMS/CASCADE_ERP/LMDB
ECHO CASCADE INDEX BUILD BEGIN

USE CASCADE_AP_Invoices
CDX CREATE
CDX ADDTAG AP_INVOICE
CDX ADDTAG PO_ID
CDX ADDTAG VENDOR_ID
BUILDLMDB

USE CASCADE_AP_Payments
CDX CREATE
CDX ADDTAG PAYMENT_ID
CDX ADDTAG AP_INVOICE
BUILDLMDB

USE CASCADE_AR_Invoices
CDX CREATE
CDX ADDTAG AR_INVOICE
CDX ADDTAG SO_ID
CDX ADDTAG CUSTOMER_I
BUILDLMDB

USE CASCADE_AR_Payments
CDX CREATE
CDX ADDTAG PAYMENT_ID
CDX ADDTAG AR_INVOICE
BUILDLMDB

USE CASCADE_BOM_Details
CDX CREATE
CDX ADDTAG BOM_DETAIL
CDX ADDTAG COMPONENT_
CDX ADDTAG BOM_ID
BUILDLMDB

USE CASCADE_BOM_Headers
CDX CREATE
CDX ADDTAG BOM_ID
CDX ADDTAG ITEM_ID
BUILDLMDB

USE CASCADE_Customers
CDX CREATE
CDX ADDTAG CUSTOMER_I
CDX ADDTAG CUSTOMER_C
BUILDLMDB

USE CASCADE_Departments
CDX CREATE
CDX ADDTAG DEPT_ID
CDX ADDTAG DEPT_CODE
CDX ADDTAG MANAGER_ID
BUILDLMDB

USE CASCADE_Employees
CDX CREATE
CDX ADDTAG EMPLOYEE_I
CDX ADDTAG EMPLOYEE_C
CDX ADDTAG REPORTS_TO
CDX ADDTAG DEPT_ID
BUILDLMDB

USE CASCADE_GL_Accounts
CDX CREATE
CDX ADDTAG ACCOUNT_ID
CDX ADDTAG ACCOUNT_CO
CDX ADDTAG PARENT_ID
BUILDLMDB

USE CASCADE_GL_Journal
CDX CREATE
CDX ADDTAG JOURNAL_ID
CDX ADDTAG ACCOUNT_ID
BUILDLMDB

USE CASCADE_Inventory_Movements
CDX CREATE
CDX ADDTAG MOVEMENT_I
CDX ADDTAG CREATED_BY
CDX ADDTAG WAREHOUSE_
CDX ADDTAG ITEM_ID
BUILDLMDB

USE CASCADE_Items
CDX CREATE
CDX ADDTAG ITEM_ID
CDX ADDTAG SKU
BUILDLMDB

USE CASCADE_PO_Lines
CDX CREATE
CDX ADDTAG POLINE_ID
CDX ADDTAG PO_ID
CDX ADDTAG ITEM_ID
BUILDLMDB

USE CASCADE_Payroll_Runs
CDX CREATE
CDX ADDTAG PAYROLL_ID
CDX ADDTAG EMPLOYEE_I
BUILDLMDB

USE CASCADE_Price_Lists
CDX CREATE
CDX ADDTAG PRICE_ID
CDX ADDTAG CUSTOMER_I
CDX ADDTAG ITEM_ID
BUILDLMDB

USE CASCADE_Purchase_Orders
CDX CREATE
CDX ADDTAG PO_ID
CDX ADDTAG PO_NUMBER
CDX ADDTAG APPROVED_B
CDX ADDTAG VENDOR_ID
BUILDLMDB

USE CASCADE_Quality_Results
CDX CREATE
CDX ADDTAG RESULT_ID
CDX ADDTAG INSPECTOR_
CDX ADDTAG TEST_ID
BUILDLMDB

USE CASCADE_Quality_Tests
CDX CREATE
CDX ADDTAG TEST_ID
CDX ADDTAG ITEM_ID
BUILDLMDB

USE CASCADE_Receiving
CDX CREATE
CDX ADDTAG RECEIPT_ID
CDX ADDTAG WAREHOUSE_
CDX ADDTAG INSPECTOR_
CDX ADDTAG POLINE_ID
CDX ADDTAG PO_ID
BUILDLMDB

USE CASCADE_Routings
CDX CREATE
CDX ADDTAG ROUTING_ID
CDX ADDTAG ITEM_ID
CDX ADDTAG CENTER_ID
BUILDLMDB

USE CASCADE_SO_Lines
CDX CREATE
CDX ADDTAG SOLINE_ID
CDX ADDTAG SO_ID
CDX ADDTAG ITEM_ID
BUILDLMDB

USE CASCADE_Sales_Orders
CDX CREATE
CDX ADDTAG SO_ID
CDX ADDTAG SO_NUMBER
CDX ADDTAG SALES_REP_
CDX ADDTAG CUSTOMER_I
BUILDLMDB

USE CASCADE_Shipment_Lines
CDX CREATE
CDX ADDTAG SHIP_LINE_
CDX ADDTAG SOLINE_ID
CDX ADDTAG SHIPMENT_I
BUILDLMDB

USE CASCADE_Shipments
CDX CREATE
CDX ADDTAG SHIPMENT_I
CDX ADDTAG WAREHOUSE_
CDX ADDTAG SO_ID
BUILDLMDB

USE CASCADE_Stock_Levels
CDX CREATE
CDX ADDTAG STOCK_ID
CDX ADDTAG ITEM_ID
CDX ADDTAG WAREHOUSE_
BUILDLMDB

USE CASCADE_Time_Cards
CDX CREATE
CDX ADDTAG TIMECARD_I
CDX ADDTAG CENTER_ID
CDX ADDTAG WO_ID
CDX ADDTAG EMPLOYEE_I
BUILDLMDB

USE CASCADE_Vendor_Items
CDX CREATE
CDX ADDTAG VENDOR_ITE
CDX ADDTAG VENDOR_ID
CDX ADDTAG ITEM_ID
BUILDLMDB

USE CASCADE_Vendors
CDX CREATE
CDX ADDTAG VENDOR_ID
CDX ADDTAG VENDOR_COD
BUILDLMDB

USE CASCADE_WO_Materials
CDX CREATE
CDX ADDTAG WO_MATERIA
CDX ADDTAG WAREHOUSE_
CDX ADDTAG ITEM_ID
CDX ADDTAG WO_ID
BUILDLMDB

USE CASCADE_WO_Operations
CDX CREATE
CDX ADDTAG WO_OP_ID
CDX ADDTAG CENTER_ID
CDX ADDTAG ROUTING_ID
CDX ADDTAG WO_ID
BUILDLMDB

USE CASCADE_Warehouses
CDX CREATE
CDX ADDTAG WAREHOUSE_
CDX ADDTAG WAREHOUS~1
CDX ADDTAG MANAGER_ID
BUILDLMDB

USE CASCADE_Work_Centers
CDX CREATE
CDX ADDTAG CENTER_ID
CDX ADDTAG CENTER_COD
BUILDLMDB

USE CASCADE_Work_Orders
CDX CREATE
CDX ADDTAG WO_ID
CDX ADDTAG WO_NUMBER
CDX ADDTAG SO_ID
CDX ADDTAG BOM_ID
CDX ADDTAG ITEM_ID
BUILDLMDB

ECHO CASCADE INDEX BUILD END
DIR
